html(lang="en")
  head
    include includes/head.pug
    title {{NAME}}

  body
    div
      h1 Simple Static Framework Trifoia Template
    
    div
      p Link to 
        a(href='index.html') EJS version
