html(lang="en")
  head
    include partials/head.pug
    style !{styles['index-pug.css']}
    title {{NAME}}

  body
    div
      h1 Simple Static Framework Trifoia Template
    
    div
      p Link to 
        a(href='index.html') EJS version
