<html lang="en">

<head>
  <%- include partials/head.ejs %>
  <style>
    <%- styles['index.css'] %>
  </style>
  <title>{{NAME}}</title>
</head>

<body>
  <div>
    <h1>Simple Static Framework Trifoia Template</h1>
  </div>
  <div>
    <p>Link to <a href="index-pug.html">PUG Version</p>
  </div>
</body>

</html>
